In [1]:
from surprise import KNNWithMeans
import pandas as pd
from surprise import Dataset
from surprise import Reader
from surprise.model_selection.validation import cross_validate

In [2]:
ratings = pd.read_csv("./ir_assignment_table_ratings.csv") 

ratings.head()

   User-ID  id  Book-Rating
0        2   1            0
1        8   2            5
2    11400   2            0
3    11676   2            8
4    41385   2            0

In [3]:
ratings.sort_values('User-ID')

        User-ID     id  Book-Rating
0             2      1            0
30            8      6            0
63            8      7            0
15            8      3            0
68            8      8            0
...         ...    ...          ...
388626   278854  20336            0
262513   278854   9538            7
135296   278854   3572            8
748455   278854  95548            6
254775   278854   9089            7

[1045290 rows x 3 columns]

In [4]:
ratings['User-ID'].value_counts()

11676     11233
198711     6492
153662     5850
98391      5786
35859      5693
          ...
250559        1
252606        1
248508        1
67068         1
242912        1
Name: User-ID, Length: 92106, dtype: int64

In [5]:
ratings_small = ratings.loc[0:200000]

In [6]:
len(ratings_small['id'])

200001

In [7]:
ratings_small['id'].value_counts()

27      2502
409     1295
749      883
1106     732
523      723
        ...
4822       1
2389       1
2457       1
1747       1
2049       1
Name: id, Length: 6223, dtype: int64

In [8]:
reader = Reader()
data = Dataset.load_from_df(ratings_small[['User-ID', 'id', 'Book-Rating']], reader)

In [9]:
# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [10]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the cosine similarity matrix...

/home/parsas/anaconda3/lib/python3.8/site-packages/surprise/prediction_algorithms/algo_base.py:249: RuntimeWarning: invalid value encountered in double_scalars
  sim = construction_func[name](*args)

Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.8024  3.7900  3.7918  3.8093  3.8316  3.8050  0.0151
MAE (testset)     3.2716  3.2474  3.2546  3.2719  3.2884  3.2668  0.0144
Fit time          5.71    5.37    6.24    6.00    6.18    5.90    0.32
Test time         2.58    2.63    2.78    2.51    2.31    2.56    0.16

{'test_rmse': array([3.80240853, 3.78999608, 3.79181677, 3.80926617, 3.83162517]),
 'test_mae': array([3.27157578, 3.24739843, 3.25460227, 3.27194486, 3.2883509 ]),
 'fit_time': (5.7147650718688965,
  5.367503643035889,
  6.238704681396484,
  6.002128839492798,
  6.175845623016357),
 'test_time': (2.5842907428741455,
  2.6329121589660645,
  2.7839295864105225,
  2.509216070175171,
  2.3112103939056396)}

In [11]:
trainingSet = data.build_full_trainset()