In [1]:
from surprise import KNNWithMeans
import pandas as pd
from surprise import Dataset
from surprise import Reader
from surprise.model_selection.validation import cross_validate

In [9]:
ratings = pd.read_csv("./ir_assignment_table_ratings.csv") 

 ratings.head()

CPU times: user 135 µs, sys: 10 µs, total: 145 µs
Wall time: 148 µs

   User-ID  id  Book-Rating
0        2   1            0
1        8   2            5
2    11400   2            0
3    11676   2            8
4    41385   2            0

In [3]:
ratings.sort_values('User-ID')

        User-ID     id  Book-Rating
0             2      1            0
30            8      6            0
63            8      7            0
15            8      3            0
68            8      8            0
...         ...    ...          ...
388626   278854  20336            0
262513   278854   9538            7
135296   278854   3572            8
748455   278854  95548            6
254775   278854   9089            7

[1045290 rows x 3 columns]

In [4]:
ratings_small = ratings.loc[0:200000]

In [5]:
reader = Reader()
data = Dataset.load_from_df(ratings_small[['User-ID', 'id', 'Book-Rating']], reader)

In [6]:
# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [7]:
trainingSet = data.build_full_trainset()

In [8]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the cosine similarity matrix...

/home/parsas/anaconda3/lib/python3.8/site-packages/surprise/prediction_algorithms/algo_base.py:249: RuntimeWarning: invalid value encountered in double_scalars
  sim = construction_func[name](*args)

Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.8148  3.8064  3.8078  3.8006  3.8132  3.8086  0.0051
MAE (testset)     3.2768  3.2675  3.2689  3.2619  3.2711  3.2692  0.0048
Fit time          5.84    5.44    5.43    5.19    5.17    5.41    0.24
Test time         2.74    2.50    2.49    2.58    2.36    2.53    0.12

{'test_rmse': array([3.81483247, 3.80639094, 3.80775952, 3.80056163, 3.81321534]),
 'test_mae': array([3.27677589, 3.26749572, 3.26888795, 3.26192289, 3.27110525]),
 'fit_time': (5.836740732192993,
  5.439710378646851,
  5.429929256439209,
  5.188151836395264,
  5.171821594238281),
 'test_time': (2.7373101711273193,
  2.5019476413726807,
  2.489698886871338,
  2.5789921283721924,
  2.3593854904174805)}