In [1]:
from surprise import KNNWithMeans
import pandas as pd
from surprise import Dataset
from surprise import Reader
from surprise.model_selection.validation import cross_validate

In [2]:
ratings = pd.read_csv("./ir_assignment_table_ratings.csv") 

ratings.head()

   User-ID  id  Book-Rating
0        2   1            0
1        8   2            5
2    11400   2            0
3    11676   2            8
4    41385   2            0

In [3]:
ratings.sort_values('id')

         User-ID      id  Book-Rating
0              2       1            0
14        263325       2            6
13        219008       2            7
12        210926       2            9
10        177458       2            0
...          ...     ...          ...
1045285   276463  271375            7
1045286   276579  271376            4
1045287   276680  271377            0
1045288   276680  271378            0
1045289   276680  271379            0

[1045290 rows x 3 columns]

In [12]:
ratings['User-ID'].value_counts()

11676     11233
198711     6492
153662     5850
98391      5786
35859      5693
          ...
250559        1
252606        1
248508        1
67068         1
242912        1
Name: User-ID, Length: 92106, dtype: int64

In [5]:
ratings_small = ratings.loc[0:200000]
# ratings_small = ratings

In [6]:
len(ratings_small['id'])

200001

In [7]:
ratings_small['id'].value_counts()

27      2502
409     1295
749      883
1106     732
523      723
        ...
4822       1
2389       1
2457       1
1747       1
2049       1
Name: id, Length: 6223, dtype: int64

In [8]:
reader = Reader()
data = Dataset.load_from_df(ratings_small[['User-ID', 'id', 'Book-Rating']], reader)

In [9]:
# To use item-based cosine similarity
sim_options = {
    "name": "pearson",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [10]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.8282  3.8223  3.8161  3.8140  3.8108  3.8183  0.0062
MAE (testset)     3.2885  3.2840  3.2755  3.2742  3.2773  3.2799  0.0055
Fit time          5.16    5.22    5.41    5.25    5.26    5.26    0.08
Test time         2.47    2.54    2.50    2.44    2.71    2.53    0.09

{'test_rmse': array([3.8281562 , 3.82229863, 3.81610474, 3.81401865, 3.81078358]),
 'test_mae': array([3.28847098, 3.28396674, 3.27548386, 3.27419014, 3.27730526]),
 'fit_time': (5.164219617843628,
  5.217133522033691,
  5.406104564666748,
  5.24908185005188,
  5.259284973144531),
 'test_time': (2.472090244293213,
  2.5418906211853027,
  2.503572463989258,
  2.439255714416504,
  2.709916830062866)}

In [11]:
trainingSet = data.build_full_trainset()